* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {

    --primary-bg: #F5F5F5;    /* Light gray for the background */
    --secondary-bg: #FFFFFF;  /* White for content areas */
    --accent-color: #3498db;  /* Blue accent color */
    --text-color: #333333;    /* Dark gray for text */
    --hover-color: #E74C3C;   /* Red for hover effects */
    
    background-color: var(--primary-bg);
}

::backdrop {
    --backdrop-bg: #a8a29e;
}

.header-flex {
    display: flex;
    justify-content: center;
}

.board-container-grid {
    width: 390px;
    height: 390px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: var(--secondary-bg);
    place-items: center;
    margin: auto;
}

.board-container-grid > div {
    width: 110px;
    height: 110px;
    background-color: var(--accent-color);
}

.board-container-grid > div:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

dialog {
    background-color: var(--secondary-bg);
    margin: auto;
}

::backdrop {
    background-color: var(--backdrop-bg);
    opacity: 1;
}