* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root, ::backdrop {
    --primary-bg: #F5F5F5;    /* Light gray for the background */
    --secondary-bg: #FFFFFF;  /* White for content areas */
    --accent-color: #2c85c0;  /* Blue accent color */
    --text-color: #333333;    /* Dark gray for text */
    --hover-color: #85ceff;   /* Red for hover effects */
    --backdrop-bg: #a8a29e;
    --header-bg:  #bf8c8c;
    
    background-color: var(--primary-bg);
    color: var(--text-color);
}

.header-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
    margin-bottom: 20px;
    color: inherit;
    background-color: var(--header-bg);
}

.header-flex p:first-child {
    font-size: 4rem;
}

.header-flex p:not(:first-child) {
    font-size: 2.5rem;
}

#display-winner {
    min-height: 50px;
    font-weight: bold;
}

.main-container {
    display: flex;
    justify-content: space-around;
}

.player-status {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: inherit;
    font-size: 2rem;
}

#first-player-name,
#second-player-name {
    font-size: 2.5rem;
}

.unclickable {
    pointer-events: none;
}

.board-container-grid {
    display: grid;
    width: 390px;
    height: 390px;
    border-radius: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: var(--secondary-bg);
    place-items: center;
}

.board-container-grid > div {
    width: 110px;
    height: 110px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    background-color: var(--accent-color);
}

.board-container-grid > div:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

dialog[open] {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px 0px 10px;
    height: 400px;
    width: 800px;
    background-color: var(--secondary-bg);
    margin: auto;
    color: var(--text-color);
}

dialog h2 {
    font-size: 3rem;
}

dialog p {
    font-size: 1.5rem;
}

::backdrop {
    background-color: var(--backdrop-bg);
    opacity: 1;
}

form {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

form fieldset {
    font-size: 2rem;
}

form input {
    padding: 3px;
    color: inherit;
    font-size: 1.5rem;
    width: 250px;
}

form p {
    font-size: inherit;
}

form p span {
    font-size: 3rem;
}

form button {
    border: 0.5px solid black;
    border-radius: 10px;
    padding:5px 10px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: var(black);
}

form button:hover {
    background-color: var(--backdrop-bg);
}